extends ../layout

block content
  div.oldUser
    h2 Welcome Back! Enter Password to Sign In!
    div.signin
      if errors   
        for err in errors
          p.err
            = err      
      form.addchild(action='/tracker/signin' method='post')
        p
          label(for='email') Email
        p
          input(id='email' class='form-control' type='email' name='email' placeholder='enter you email here' autofocus)
        p
          label(for='password') Password
        p
          input(id='password' class='form-control' type='password' name='password' placeholder='enter password')  
        p
          input(id='signin' type='submit' value='Sign In')
    div.footer
      a(href='/') Home
