extends ../layout

block content
  form.addchild
    h4 Add a Child
    .form-group
      br
      label(for='first') First Name
      input#first.form-control(type='text', autofocus='')
    .form-group
      label(for='middle') Middle Name
      input#middle.form-control(type='text')
    .form-group
      label(for='last') Last Name
      input#last.form-control(type='text')
    .form-group
      label(for='dob') Date of Birth
      input#dob.form-control(type='date')
    .form-group
      label(for='tob') Date of Birth
      input#tob.form-control(type='time')
    .form-group
      p Sex
      label(for='girl')  Girl 
      input(type='radio', value='Female')
      label(for='boy')  Boy 
      input(type='radio', value='Male')
    .button
      button(type='submit') Submit
