<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Milestones</title>
  </head>
  <body>
    <h1>Milestones</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a id='smiles'; href=""; style="background-color: #EDF6FB; font-size:12.5px">First Smile</a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">First Sound </a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Holds Head <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Rolls Over <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Sits Up <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Crawls <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Supported Standing <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Standing Alone <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Suppoerted Walking <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Walking alone <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">First Words <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Fav Song <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" style="background-color: #EDF6FB; font-size:12.5px">Fav Story <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <form action="/tracker/smile" method='POST' id='smile' class='addchild'>
      <div class='form-group'>
        <br>
        <label for='smile'>First Smile</label>
        <input class='form-control' id='smile' type='date' name='smile'><br>
        <label for='comment1'>Comment</label>
        <textarea class='form-control' id='comment1' type='text' name='comment1'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/sound' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='sound'>First Sound</label>
        <input class='form-control' id='sound' type='date' name='sound'><br>
        <label for='comment2'>Comment</label>
        <textarea class='form-control' id='comment2' type='text' name='comment2'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/holdHead' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='holdHead'>Holds head up</label>
        <input class='form-control' id='holdHead' type='date' name='holdHead'><br>
        <label for='comment3'>Comment</label>
        <textarea class='form-control' id='comment3' type='text' name='comment3'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/rolls' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='rolls'>Rolls over</label>
        <input class='form-control' id='rolls' type='date' name='rolls'><br>
        <label for='comment4'>Comment</label>
        <textarea class='form-control' id='comment4' type='text' name='comment4'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/sitUp' method="POST" class='addchild'>
      <div class='form-group'>
        <label for='sitUp'>Sits up</label>
        <input class='form-control' id='sitUp' type='date' name='sitUp'><br>
        <label for='comment5'>Comment</label>
        <textarea class='form-control' id='comment5' type='text' name='comment5'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/crawl' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='crawl'>Crawls</label>
        <input class='form-control' id='crawl' type='date' name='crawl'><br>
        <label for='comment6'>Comment</label>
        <textarea class='form-control' id='comment6' type='text' name='comment6'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/supportStand' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='supportStand'>Stands with support</label>
        <input class='form-control' id='supportStand' type='date' name='supportStand'><br>
        <label for='comment7'>Comment</label>
        <textarea class='form-control' id='comment7' type='text' name='comment7'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/aloneStand' method='POST' class='addchild'>
      <div class="form-group">
        <label for="aloneStand">Stands alone</label>
        <input class='form-control' id='aloneStand' type="date" name='aloneStand'><br>
        <label for='comment8'>Comment</label>
        <textarea class='form-control' id='comment8' type='text' name='comment8'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/helpwalk' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='helpWalk'>Walks with help</label>
        <input class='form-control' id='helpWalk' type='date' name='helpWalk'><br>
        <label for='comment9'>Comment</label>
        <textarea class='form-control' id='comment9' type='text' name='comment9'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form  action='/tracker/aloneWalk' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='aloneWalk'>Walks alone</label>
        <input class='form-control' id='aloneWalk' type='date' name='aloneWalk'><br>
        <label for='comment10'>Comment</label>
        <textarea class='form-control' id='comment10' type='text' name='comment10'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/firstWords' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='firstWords'>First words</label>
        <input class='form-control' id='firstWords' type='date' name='firstWords'><br>
        <label for='comment11'>Comment</label>
        <textarea class='form-control' id='comment11' type='text' name='comment11'></textarea><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form action='/tracker/favSongs' method='POST' class='addchild'>
      <div class='form-group'>
        <label for='favSongs'>Favorite song</label><br>
        <input class='form-control' id='favSongs' type='text' name='favSongs'><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <form class='addchild'>
      <div class='form-group'>
        <label for='favStory'>Favorite story</label><br>
        <input class='form-control' id='favStory' type='text' name='favStory'><br>
        <button type='submit'>Submit</button>
      </div>
    </form>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/devtrack.js'></script>
  </body>
</html>
